
<div class="content-panel-1">

    <div class="bar-container bar-vertical-margin">

        <div class="bar-field">
            <channel-selection [manager]="driver.manager"
                               [selection]="driver.channelSelection"
                               [showComponent]="true"></channel-selection>
        </div>

        <enum-select [initial]="driver.flow"
                     [enumType]="flowEnumType"
                     (selected)="onSelectedFlow($event)"></enum-select>

        <div class="bar-label" [ngSwitch]="runningObservable | async">

            <div *ngSwitchCase="false">
                <button (click)="onStart($event)"
                        type="button"
                        class="btn btn-default btn-sm">Start</button>
                <!--div class="badge badge-default">Idle</div-->
            </div>

            <div *ngSwitchCase="true">
                <button (click)="onStop($event)"
                        type="button"
                        class="btn btn-primary btn-sm">Stop</button>
                <!--div class="badge badge-primary">Running</div-->
            </div>

        </div>

        <button (click)="deleteRequest.emit($event)"
                type="button"
                class="btn btn-primary btn-sm secondary-bar-item"> Delete </button>

    </div>

    <float-setting-group [settingGroup]="driver.settings"></float-setting-group>

    <generator-container-detail *ngFor="let key of driver.generatorKeysObservable | async"
                                [label]="key"
                                [generatorContainer]="driver.getGenerator(key)">
    </generator-container-detail>

</div>
