
<div class="bar-container" *ngFor="let description of generator.settingDescriptions">
    <div class="bar-label">{{description.key}}</div>
    <div class="bar-field slider-space">
        <nouislider [connect]="true"
                    [min]="description.min"
                    [max]="description.max"
                    [(ngModel)]="generator.settings[description.key]"></nouislider>
    </div>
    <div class="bar-label">
        <input type="number"
               name="quantity"
               min="{{description.min}}"
               max="{{description.max}}"
               [(ngModel)]="generator.settings[description.key]">
    </div>
</div>




