<div>
    <div class="root-canvas">
        <div class="container">
            <div>
                <ngb-tabset type="pills" (tabChange)="tabChange($event)" [activeId]="currentKey">
                    <ngb-tab *ngFor="let tab of targets" [id]="tab.key" [title]="tab.key | titleCase">
                        <template ngbTabContent></template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
            <div>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>