<div class="default-content-panel">

    <div class="bar-container bar-vertical-margin">

        <div class="bar-center-space"></div>

        <button (click)="deleteRequest.emit($event)"
                type="button"
                class="btn btn-primary secondary-bar-item"> Delete </button>

        <button (click)="onCreateParameterMapping($event)"
                type="button"
                class="btn btn-primary secondary-bar-item"> Add Parameter Mapping </button>

    </div>

    <div class="bar-container bar-vertical-margin">

        <div class="bar-label bar-title h4">Input</div>

        <channel-selection [manager]="channelMapping.componentManager"
                           [selection]="channelMapping.input"
                           [showComponent]="true"
                           [labeled]="true"
                           class="bar-field">
        </channel-selection>

    </div>

    <div class="bar-container bar-vertical-margin">

        <div class="bar-label bar-title h4">Output</div>

        <channel-selection [manager]="channelMapping.componentManager"
                           [selection]="channelMapping.output"
                           [showComponent]="true"
                           [labeled]="true"
                           class="bar-field">
        </channel-selection>

    </div>

    <parameter-mapping *ngFor="let parameterMapping of parameterMappings | async"
                       [parameterMapping]="parameterMapping"
                       (deleteRequest)="onDestroyParameterMapping(index)"> </parameter-mapping>

</div>
