<div class="content-panel-1">

    <div class="bar-container-1 bar-vertical-margin">

        <div class="bar-label-1">Input</div>

        <channel-selection [manager]="channelMapping.componentManager"
                           [selection]="channelMapping.input"
                           [showComponent]="true"
                           class="bar-field">
        </channel-selection>

        <div class="bar-label-1">Output</div>

        <channel-selection [manager]="channelMapping.componentManager"
                           [selection]="channelMapping.output"
                           [showComponent]="true"
                           class="bar-field">
        </channel-selection>

        <div class="bar-label-1">{{channelMapping.messageCountObservable | async}}</div>

        <button (click)="deleteRequest.emit($event)"
                type="button"
                class="btn btn-primary btn-sm secondary-bar-item"> Delete </button>

        <button (click)="onCreateParameterMapping($event)"
                type="button"
                class="btn btn-primary btn-sm secondary-bar-item"> Add Parameter Mapping </button>

    </div>

    <parameter-mapping *ngFor="let parameterMapping of parameterMappings | async; let i = index;"
                       [parameterMapping]="parameterMapping"
                       (deleteRequest)="onDestroyParameterMapping(i)"> </parameter-mapping>

</div>
