<div class="content-panel-2">

    <div class="bar-container">

        <div class="bar-label h5">Input</div>

        <parameter-selection [manager]="parameterMapping.componentManager"
                             [selection]="parameterMapping.input"
                             class="bar-field">
        </parameter-selection>

        <div class="bar-label h5">Output</div>

        <parameter-selection [manager]="parameterMapping.componentManager"
                             [selection]="parameterMapping.output"
                             class="bar-field">
        </parameter-selection>

        <div class="bar-label h5">Operators</div>

        <select [(ngModel)]="selectedOperatorName" class="custom-select bar-field">

            <option [ngValue]="name" *ngFor="let name of availableOperatorNames">{{name}}</option>

        </select>

        <button (click)="onCreateParameterOperator(selectedOperatorName)"
                type="button"
                class="btn btn-primary bar-label">Add</button>

    </div>

    <div class="vertical-space"></div>

    <parameter-operator *ngFor="let parameterOperator of parameterOperators | async"
                        [parameterOperator]="parameterOperator"
                        (deleteRequest)="onDestroyParameterOperator(index)">
    </parameter-operator>

</div>