
<div class="content-panel-1">

    <div class="bar-container">

        <div class="bar-field">
            <channel-selection [manager]="generator.manager"
                               [selection]="generator.channelSelection"
                               [showComponent]="true"></channel-selection>
        </div>

        <enum-select [initial]="generator.flow"
                     [enumType]="flowEnumType"
                     (selected)="onSelectedFlow($event)"></enum-select>

        <div class="bar-label" [ngSwitch]="runningObservable | async">

            <div *ngSwitchCase="false">
                <button (click)="onStart($event)"
                        type="button"
                        class="btn btn-default">Start</button>
                <!--div class="badge badge-default">Idle</div-->
            </div>

            <div *ngSwitchCase="true">
                <button (click)="onStop($event)"
                        type="button"
                        class="btn btn-primary">Stop</button>
                <!--div class="badge badge-primary">Running</div-->
            </div>

        </div>

    </div>

</div>




