
<div class="root">

    <div class="root-top-bar">

        <button-navigation class="main-bar-item"
                           [currentKey]="'generators'"></button-navigation>

        <button class="secondary-bar-item"
                (click)="onCreate($event)"
                type="button"
                class="btn btn-primary">Add</button>
    </div>

    <div class="root-content">

        <div *ngFor="let generator of componentMessageGeneratorsObservable | async">
            <generator-detail [generator]="generator"></generator-detail>
        </div>

    </div>

</div>