
<div class="bar-container">

    <component-selection *ngIf="showComponent"
                         [manager]="manager"
                         [selection]="selection.componentSelection"
                         [labeled]="labeled"
                         class="bar-field"></component-selection>

    <div *ngIf="labeled" class="bar-label">Channel</div>

    <select [ngModel]="identifier"
            (ngModelChange)="onSelection($event)"
            name="channelSelect"
            class="custom-select bar-field select-space">

        <option value="" disabled selected>Select channel...</option>

        <option [ngValue]="candidate"
                *ngFor="let candidate of candidates">{{candidate}}</option>

    </select>

</div>

